@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Oswald&display=swap');


body {
   font-family: 'Oswald', sans-serif;
   background-color: #f7f5f6;
   min-height: 100vh;
}

header {
  background-color: white;
  position: fixed;
  width: 100vw;
  border-bottom: 1px solid #ccbac4;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  min-height: 80px;
  box-shadow: 2px 0 10px 5px #ede8eb;
  z-index: 10;
}

h1 {
  margin: 0 0 0 20px;
  font-family: 'Cinzel Decorative', cursive;
  color: #2b0f19;
  font-size: 2.25rem;
}

nav {
  margin: 0 50px 0 0;
}

nav a {
  text-decoration: none;
  color: #400102;
  margin: 0 5%;
  font-size: 1.5rem;
  transition: color .75s ease-in-out;
}

nav a:hover {
  color: #7656b0;
}

span {
  /* text-shadow: 0 0 0.35em #bf8e9f, 0 0 0.35em #bf8e9f, 0 0 0.35em #bf8e9f; */
	letter-spacing: 3px;
  color: #7656b0;
  font-size: 2.6rem;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.component {
  padding-top: 150px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

img {
  width: 30%;
  height: 25vw;
  object-fit: cover;
  object-position: center;
  margin: 2vw 1vw;
  transition: filter 1s ease-in-out;
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}

img:hover {
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}
