footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid #ccbac4;
  padding: 15px 20px 5px 20px;
  margin-top: 50px;
}

a {
  text-decoration: none;
  text-transform: lowercase;
  color: #400102;
  margin: 0 5%;
  font-size: .9rem;
  transition: color .75s ease-in-out;
}

a:hover {
  color: #7656b0;
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
}

#submit {
  width: 70px;
  margin: 5px 0;
}

li {
  list-style: none;

}

.logo {
  width: 30%;
  text-align: center;
}

#logo {
  width: 100px;
  height:100px;
}
