header {
  background-color: white;
  position: fixed;
  width: 100vw;
  border-bottom: 1px solid #ccbac4;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  min-height: 80px;
  box-shadow: 2px 0 10px 5px #ede8eb;
}

h1 {
  margin: 0 0 0 20px;
  font-family: 'Cinzel Decorative', cursive;
  color: #2b0f19;
  font-size: 2.25rem;
}

nav {
  margin: 0 50px 0 0;
}

a {
  text-decoration: none;
  color: #400102;
  margin: 0 5%;
  font-size: 1.5rem;
}

span {
  text-shadow: 0 0 0.35em #bf8e9f, 0 0 0.35em #bf8e9f, 0 0 0.35em #bf8e9f;
	letter-spacing: 3px;
}
